<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>"/>
    <meta content="Hip-Hop, Hip-Hop Quotes, Hip-Hop Quoted, Hip-Hop Lyrics, Rap Quotes, Rap, Rap Quoted, Rap Lyrics, CSS3, HTML5, Art Direction, Typography, Fonts" name="keywords"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/images/favicon.ico" rel="shortcut icon">
    <%= stylesheet_link_tag "site.css" %>
    <% if content_page? %>
      <link rel="stylesheet" href="https://use.typekit.net/lsk1lvz.css">
    <% end %>
    <%= yield_content :stylesheet %>
  </head>
  <body id="hiphopquoted" class="page-<%= page_classes %><%= ' content-page' if content_page? %>">
    <%= partial "header" %>
    <main id="main" role="main">
      <%= yield %>
    </main>
    <%= partial "footer" %>
    <%= javascript_include_tag("application.js") %>
    <%= yield_content :javascript %>
    <% unless content_page? %>
      <script>
        var track = "<%= current_page.data.track %>";
        var playerCountry = "<%= current_page.data.player_country %>";
        var playerColor = "#<%= current_page.data.player_color %>";
        var playerAttribute = "<%= current_page.data.player_attribute %>";
        var player = new iTunesPreviewPlayer(track);
        var audio = document.getElementsByTagName('audio');
        document.getElementById("audio-clip").appendChild(player.DOMElement());
      </script>
    <% end %>
  </body>
</html>