<footer id="footer"<%= " class='sticky'" unless content_page? %>>
  <ul>
    <% if content_page? %>
      <li>© <%= Time.now.year %> hiphopquoted.com</li>
      <li><%= link_to("Prints", "/prints") %></li>
      <li><%= link_to("About", "/about") %></li>
      <li><%= link_to("Facebook", "https://www.facebook.com/hiphopquotedcom", :target => "_blank") %></li>
      <li><%= link_to("Twitter", "http://twitter.com/hiphopquotedcom", :target => "_blank") %></li>
      <li><%= link_to("Made by olliekav", "http://olliekav.com", :target => "_blank") %></li>
    <% else %>
      <li class="page-nav">
        <%#= TODO: Move this to helper method %>
        <% pages = sitemap.resources.find_all{|p| p.source_file.match(/\.html/) and not p.source_file.match(/\about/) and not p.source_file.match(/\index/) and not p.source_file.match(/\prints/)}.sort_by {|p| p.data.order.to_i}.reverse!%>
        <% pages.each_with_index do |p, index| %>
          <% if p.url == current_page.url %>
            <% next_page = pages[index+1] %>
            <% prev_page = pages[index-1] %>
            <%= link_to("<span>Prev</span>", prev_page.path, :class => "prev") unless index == 0 %>
            <%= link_to("<span>Next</span>", next_page.path, :class => "next") unless index == pages.size - 1 %>
          <% end %>
        <% end %>
      </li>
      <li class="audio">
        <div id="audio-clip"></div>
      </li>
      <% if current_page.data.song_link %>
        <li class="buy">
          <%= link_to "<span>Buy</span>".html_safe, "#{current_page.data.song_link}&at=11lPxd", :class => "buy-track", :target => "itunes_store"  %>
        </li>
      <% end %>
      <% if current_page.data.genius_link %>
        <li>
          <%= link_to "Genius", "#{current_page.data.genius_link}", target: "_blank" %>
        </li>
      <% end %>
    <% end %>
  </ul>
</footer>