- content_for :head do
  %title Nas, Raekwon &amp; Ghostface Killah - Verbal Intercourse

- content_for :stylesheet do
  = stylesheet_link_tag "/stylesheets/nas_raekwon_ghostface_killah_verbal_intercourse.css"

- content_for :typekit do
  %script{ :src => '//use.typekit.com/jan2ukx.js' }

- content_for :audio do
  <audio src="/audio/nas-raekwon-ghostface-killah-verbal-intercourse.mp3" preload="auto" />

%article
  %header

    %h2 
      Verbal Intercourse

    %h3#track_info
      Quote by 
      = link_to("Nas", "http://en.wikipedia.org/wiki/Nas")
      ,
      = link_to("Raekwon", "http://en.wikipedia.org/wiki/Raekwon")
      ,
      = link_to("Ghostface Killah", "http://en.wikipedia.org/wiki/Ghostface_Killah")
      from
      = link_to("Verbal Intercourse", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=258637096&id=258634938&s=143444&uo=6")
      on the album 
      = link_to("Only Built 4 Cuban Linx", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=258636412&id=258634938&s=143444&uo=6")

  %blockquote#quote_one
    %p
      Through the lights cameras and action, glamour glitters and gold
      I unfold the scroll, plant seeds to stampede the globe
      When I'm deceased, by then the beast arise like yeast
      to conquer peace leaving savages to roam in the streets
      Live on the run, police paying me to give in my gun
      Trick my Wisdom, with the system that imprisoned my son
      Smoke a gold leaf I hold heat, nonchalantly
      I'm grungy, but things I do is real it never haunts me
      while, funny style niggaz roll in the pile
      Rooster heads profile on a bus to Riker's Isle
      Holdin weed inside they pussy with they minds on the
      pretty things in life, props is a true thug's wife
      It's like a cycle, niggaz come home, some'll go in
      Do a bullet, come back, do the same shit again
      From the womb to the tomb, presume the unpredictable
      Guns salute life, rapidly, that's the ritual

  %blockquote#quote_two
    %p
      Perhaps bullets bust niggaz discuss mad money
      True lies and white guys, we can see it through the eyes
      Catch the most on tape, kilos disintegrate
      Pyrex pots, we break, fiends lickin plates
      In the building niggaz building, like little children starin
      Them older niggaz aint carin
      Sirens circlin fiends are lurkin in your baggage
      oh, one's gone now, what, smack him in his cabbage
      In the woodwork, crack cells bubble like Woolworth's
      in the projects, richest niggaz rockin all the real worth
      Police questioning, rooftop cats invested in
      Tradin in they Lexus' GS's sendin messages
      Two and two makes four, Cristal's crazily pour
      Gun wars my crew phantom like swords

  %blockquote#quote_three
    %p
      With the green leathers, hunded pound snakes and cakes
      Fiends found in lakes, jeolously Jakes we shake
      What I strive for is what I live for
      Infatuated by material things, and it's wild like for war
      like somewhere over the rainbow, I see a big pot of gold
      Future stacks yo I hold
      Thousands of cracks bagged up inside the shoebox
      Don't keep jack in my lap, don't wanna see Tupac
      Got two spots, a new lot, flooded with rocks
      Shoot-outs making me hot, crooked cops Bad Tony and the ball drop
      In the Now, I'm bangin niggaz for slide time
      Hurry up Duke I'm next, show em mine
      And what the f**k is you looking at?
      By the way young blood, hit me off with that Green Bay hat
      Watch your back inside the hall, new niggaz slide through
      like doors yo, you're starin in the mess hall
      Your adrenaline runs, cigarette niggas be swindlin
      New jacks surrenderin, come home not rememberin
      Made bail with different size kicks on, a white dress shirt
      Lookin gay in the yard, and you got hurt
      Flashbacks, of the day room, mop ringer style
      Your faggot a*s got bashed tryin to turn the dial
      You told your boo you was whylin
      Once you heard Wu, out of the blue, your family's from Shaolin
      High cla*s cooks, throw on vestes out of phone books
      Infirmary niggas are screaming, &quot;I got drugs!&quot;
      Sharpen toothbrushes 190 mixed with baby oil and shit
      Your man's in the kitchen stashing ice picks
      Well I'ma end this with a big red cherry on top
      Me, Nas and Rae got the best product on the block

  %blockquote#quote_four
    %p
      Strength my whole team is eatin off this type of shit
      Word up, throw your hands up
      Good shit, nigga next time, no more whatever shit
      Cock back the Mac an say whatever
      Keep your eyes open and your wallet in your front pocket
      Your Hawaiian's stale, exoticness, fly shit
      RZA Chef Ghost and Nas niggaz is the prophet
      Floatin on in nine-five in the basement