---
title: O.C. - Word...Life
player_color: 
track: oc word...life
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "/stylesheets/oc-word-life.css" %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag("bigtext.js") %>
  <script>
    $(function(){
      WebFont.load({
        typekit: { id: 'suv7urw' },
        active: function() {
          $('h1, figcaption, figcaption>a, figcaption>cite').bigtext();
        }
      });
    });
  </script>
<% end %>

<article>
  <header>
    <h1>Word...Life</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        Let the chime be a part of your mind
        Let the rhyme intertwine like a vine
        Work your mentally found intellect
        I raise eyes like the sight of a tech
        Lets take a trip inside of my thoughts
        While I persevere on the mic like sports
        Take me in stride, O.C.'s worth listening
        Watch the tricks of a ho who's a vixen
        Tender eyes, they only leading to a hard-on
        Touching tongue stick, two to be a part on
        I max relax, smooth it out like a sax
        One of my goals is to make fat stacks
        Then I, flip the money to establish a business
        This here beat, you see I already quizzed it
        I gave it a test for the rhyme linguistics
        Honey wanna kiss, gotta remove the lipstick
        I dig lips with, mad jewel juices
        Soft and lickable, not rough and ruthless
        Because of many people I've been denied
        Gas in my tank taking me for a ride
        But I'm alright now, smooth as the turn pipe
        Cause my squad organize and search light
        Meditate, daily I do, so why sort
        Things I consider in my mind is deep thought
      </p>
      <p>
        By the way, do me a favour
        Give it a chance if a nigga has flavour
        Years have passed, now training is over
        I'm being intoxicated, now I'm kinda sober
        Persons serve for purpose like workers
        Yet there's clowns making Hip Hop a circus
        Me, I'm an architect, mark my sweat
        Brain of the engine, better yet a Corvette
        Thought are surging like a sub submerging
        Some subjects never been touched like a virgin
        Urging MC's - be aware of my wrath
        I'm destroying all things that go through my path
        It doesn't matter the sex type, O to C now
        Niggas getting done by the potent in freestyle
        Rhythms are constantly switching and changing
        Name is O.C., I wrote and arranged this
        Fluctuation, I add it like seasoning
        Before I was missed/mist, now I'm more than a breeze and
        Poetically astounding, round and sounding
        My brain responds to a beat, booming and bouncing
        Edo waves kick it with the kicks a sided
        You must go inside and exhale, divide it
      </p>
      <p>
        Crushing competition, dusting oppositions
        Down the toilet, gonna flush your composition
        Your scribes are weak, and for I can speak
        Myself against a man, with a true mystique
        I got, so many ways to flip phrases, flip thoughts
        Passing licks over the head of my foes
        Fits I'm giving 'em, it's a living
        If I don't wanna take a ride with ya, then I can't be driven
        Bound for town with a raw sound
        Seeming to be lack and luster from of a lot of MC's
        Skits get done by the misfit, doing gimmicky shit
        Following the leader from a trend hit
        O.C. got it going sewn like a sweater
        Better believe it that I get it busy to the letter
        Pure and thick, that's so premature ejaculated
        And if you had a girl you wouldn't be masturbating
        Masquerading your personification as a lyrical law
        When you're just not fascinating
        Nigga you need to stop flexing, stop vexing what you not
        Be sure bout what you got 
      </p>
    </blockquote>
    <figcaption>
      Quote by 
      <%= link_to("Ludacris", "http://en.wikipedia.org/wiki/Ludacris") %>
      <cite>
        from
        <%= link_to("MVP", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408778&id=296408163&s=143444&uo=6") %>
        on the album 
        <%= link_to("Theatre of the Mind", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408762&id=296408163&s=143444&uo=6") %>
      </cite>
    </figcaption>
  </figure>
</article>
