<section id="prints">
  
  <h1>Prints</h1>

  <p>These are provided print ready at A2 size and include a 3mm bleed. For a good printer I would recommend Rik at <%= link_to("Ripe Digital", "http://www.ripedigital.co.uk/") %>. Ask for the A2 Giclee Print.</p>

  <ul>
    <li>
      <%= link_to(image_tag("prints/nas-new-york-state-of-mind.jpg", alt: ""), "https://www.dropbox.com/s/u2l3wxv22fbfqw9/nas-new-york-state-of-mind-v3-flat.pdf?dl=0") %>
      <h2>Nas - N.Y. State of Mind</h2>
      <a href="https://www.dropbox.com/s/u2l3wxv22fbfqw9/nas-new-york-state-of-mind-v3-flat.pdf?dl=0" class="button">Download</a>
    </li>
    <li>
      <%= link_to(image_tag("prints/foreign-beggars-hold-on.jpg", alt: ""), "https://www.dropbox.com/s/e9cre7a108wnz6q/foreign-beggars-hold-on-flat.pdf?dl=0") %>
      <h2>Foreign Beggars - Hold On</h2>
      <a href="https://www.dropbox.com/s/e9cre7a108wnz6q/foreign-beggars-hold-on-flat.pdf?dl=0" class="button">Download</a>
    </li>
    <li>
      <%= link_to(image_tag("prints/blak-twang-dettwork-southeast.jpg", alt: ""), "https://www.dropbox.com/s/6fn3tt6ahhumxck/blak-twang-dettwork-southeast-flat.pdf?dl=0") %>
      <h2>Blak Twang - Dettwork Southeast</h2>
      <a href="https://www.dropbox.com/s/6fn3tt6ahhumxck/blak-twang-dettwork-southeast-flat.pdf?dl=0" class="button">Download</a>
    </li>
    <li>
      <%= link_to(image_tag("prints/wu-tang-clan-cream.jpg", alt: ""), "https://www.dropbox.com/s/ohnrgbhg0tpjdmc/wu-tang-clan-cream.pdf?dl=0") %>
      <h2>Wu-Tang Clan - Cream</h2>
      <a href="https://www.dropbox.com/s/ohnrgbhg0tpjdmc/wu-tang-clan-cream.pdf?dl=0" class="button">Download</a>
    </li>
    <li>
      <%= link_to(image_tag("prints/mobb-deep-nighttime-vultures.jpg", alt: ""), "https://www.dropbox.com/s/0usdoxp4hli50qw/mobb-deep-nighttime-vultures-flat.pdf?dl=0") %>
      <h2>Mobb Deep - Nighttime Vultures</h2>
      <a href="https://www.dropbox.com/s/0usdoxp4hli50qw/mobb-deep-nighttime-vultures-flat.pdf?dl=0" class="button">Download</a>
    </li>
    <li>
      <%= link_to(image_tag("prints/fliptrix-one-time.jpg", alt: ""), "https://www.dropbox.com/s/ymdy1x69rnbw1r8/fliptrix-one-time-flat.pdf?dl=0") %>
      <h2>Fliptrix - One Time</h2>
      <a href="https://www.dropbox.com/s/ymdy1x69rnbw1r8/fliptrix-one-time-flat.pdf?dl=0" class="button">Download</a>
    </li>
  </ul>

</section>