---
title: Raekwon ft Ghostface Killah &amp; Nas - Verbal Intercourse
player_color: 0018ff
track: raekwon verbal intercourse
artist: Raekwon ft Ghostface Killah &amp; Nas
song: Verbal Intercourse
album: Dah Shinin'
wiki_link: http://en.wikipedia.org/wiki/Raekwon
song_link: https://itunes.apple.com/album/verbal-intercourse/id258634938?i=258637096&uo=4
album_link: https://itunes.apple.com/album/only-built-4-cuban-linx/id258634938?uo=4
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "/stylesheets/raekwon-ghostface-nas-verbal-intercourse.css" %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag("bigtext.js") %>
  <script>
    $(function(){
      WebFont.load({
        typekit: { id: 'jan2ukx' },
        active: function() {
          $('article>header').bigtext();
        }
      });
    });
  </script>
<% end %>

<article>
  <header>
    <h1>Verbal Intercourse</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        <%= image_tag("raekwon-ghostface-nas/nas-verbal.jpg", :alt => "") %>
        <span>Through the lights cameras and action, glamour glitters and gold.</span>
        I unfold the scroll, plant seeds to stampede the globe.
        When I'm deceased, by then the beast arise like yeast
        to conquer peace leaving savages to roam in the streets.
        Live on the run, police paying me to give in my gun
        Trick my Wisdom, with the system that imprisoned my son. <br/><br/>
        Smoke a gold leaf I hold heat, nonchalantly
        I'm grungy, but things I do is real it never haunts me.
        while, funny style niggaz roll in the pile
        rooster heads profile on a bus to Riker's Isle.
        Holdin weed inside they pussy with they minds on the
        pretty things in life, props is a true thug's wife. <br/><br/>
        It's like a cycle, niggaz come home, some'll go in
        Do a bullet, come back, do the same shit again.
        From the womb to the tomb, presume the unpredictable
        Guns salute life, rapidly, that's the ritual.
      </p>
      <p>
        <%= image_tag("raekwon-ghostface-nas/raekwon-verbal.jpg", :alt => "") %>
        <span>Perhaps bullets bust niggaz discuss mad money true lies and white guys.</span>
        We can see it through the eyes.
        Catch the most on tape, kilos disintegrate.
        Pyrex pots, we break, fiends lickin plates.
        In the building niggaz building, like little children starin.
        Them older niggaz aint carin.<br/><br/>
        Sirens circlin fiends are lurkin in your baggage.
        oh, one's gone now, what, smack him in his cabbage.
        In the woodwork, crack cells bubble like Woolworth's.
        in the projects, richest niggaz rockin all the real worth<br/><br/>
        Police questioning, rooftop cats invested in
        Tradin in they Lexus' GS's sendin messages.
        Two and two makes four, Cristal's crazily pour.
        Gun wars my crew phantom like swords.
      </p>
      <p>
        <%= image_tag("raekwon-ghostface-nas/ghostface-verbal.jpg", :alt => "") %>
        <span>With the green leathers, hunded pound snakes and cakes.</span>
        Fiends found in lakes, jeolously jakes we shake,
        What I strive for is what I live for,
        Infatuated by material things, and it's wild like for war
        like somewhere over the rainbow, I see a big pot of gold
        Future stacks yo I hold.<br/><br/>
        Thousands of cracks bagged up inside the shoebox,
        Don't keep jack in my lap, don't wanna see Tupac.
        Got two spots, a new lot, flooded with rocks
        Shoot-outs making me hot, crooked cops Bad Tony and the ball drop.
        In the Now, I'm bangin niggaz for slide time
        Hurry up Duke I'm next, show em mine
        And what the f**k is you looking at?<br/><br/>
        By the way young blood, hit me off with that Green Bay hat
        Watch your back inside the hall, new niggaz slide through
        like doors yo, you're starin in the mess hall
        Your adrenaline runs, cigarette niggas be swindlin
        New jacks surrenderin, come home not rememberin. <br/><br/>
        Made bail with different size kicks on, a white dress shirt
        Lookin gay in the yard, and you got hurt
        Flashbacks, of the day room, mop ringer style
        Your faggot a*s got bashed tryin to turn the dial.
        You told your boo you was whylin
        Once you heard Wu, out of the blue, your family's from Shaolin.<br/><br/>
        High cla*s cooks, throw on vestes out of phone books
        Infirmary niggas are screaming, &quot;I got drugs!&quot;
        Sharpen toothbrushes 190 mixed with baby oil and shit
        Your man's in the kitchen stashing ice picks.
        Well I'ma end this with a big red cherry on top
        Me, Nas and Rae got the best product on the block.
      </p>
      <p>
        Strength my whole team is eatin off this type of shit,
        Word up, throw your hands up.
        Good shit, nigga next time, no more whatever shit,
        Cock back the Mac an say whatever,
        Keep your eyes open and your wallet in your front pocket,
        Your Hawaiian's stale, exoticness, fly shit
        RZA Chef Ghost and Nas niggaz is the prophet,
        Floatin on in nine-five in the basement.
      </p>
    </blockquote>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
  </figure>
</article>