---
title: Run the Jewels 2 - Close Your Eyes (And Count to F**k) 
player_color: ffffff
track: run the jewels close your eyes
artist: Run the Jewels 2
song: Close Your Eyes (And Count to F**k) 
album: Run the Jewels 2
wiki_link: http://en.wikipedia.org/wiki/Run_the_Jewels_2
song_link: https://itunes.apple.com/album/close-your-eyes-count-to-f**k/id927052864?i=927057887&uo=4&at=11lPxd
album_link: https://itunes.apple.com/album/run-the-jewels-2/id927052864
cat_id: 927057887
order: 33
screenshot: rtj_close_your_eyes.jpg
genius_code: 539366
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "/stylesheets/run-the-jewels-close-your-eyes.css" %>
<% end %>

<% content_for :javascript do %>
  <%= partial "font_javascripts", :locals => { :font_id => "ubo4pqf", :include_big_text => false, :include_lettering => false, :script => false } %>
<% end %>

<article>
  <header>
    <h1>Close Your Eyes (And Count to F**k)</h1>
  </header>
  <figure>
    <blockquote>
      <div id="section-one" class="even">
        <div class="content">
          <h2>And even if some good ones die, fuck it, the Lord'll sort 'em.</h2>
          <p>Fashion slave, you protestin' to get in a fuckin' look book. Everything I scribble's like The Anarchist Cookbook,  Look good, posing in a centerfold of Crook Book. Black on black on black with a ski mask, that is my crook look. How you like my stylin', bruh? Ain't nobody stylin', bruh. 'Bout to turn this mothafucka up like Riker's Island, bruh. Where my thuggers and my cripples and my bloodles and my brothers?. When you niggas gon' unite and kill the police, mothafuckas? Or take over a jail, give those COs hell. The burnin' of the sulfur, God damn I love the smell. Like it's a pillow torchin', where the fuck the warden? And when you find him, we don't kill him, we just waterboard him. We killin' 'em for freedom cause they tortured us for boredom. And even if some good ones die, fuck it, the Lord'll sort 'em.</p>
        </div>
      </div>
      <div id="section-two" class="odd">
        <div class="content">
          <h2>I wear my Yankee so tilted I actually walk with a hunch.</h2>
          <p>I'm a New Yorkian, I fuck for the jump. I wear my Yankee so tilted I actually walk with a hunch. Look at Mikey, I think he likey, we are sinister sons. Aye, we the type to beat the preacher with a grin and a gun. We out of order, your honor, you're out of order. This whole court is unimportant, you fuckers are walkin' corpses. I'm a flip wig synonym, livin' within distortion. I'll bite into a cyanide molar before you whores win.</p>
        </div>
      </div>
      <div id="section-three" class="even">
        <div class="content">
          <h2>The only silence I have is an act of conjugal visitin.</h2>
          <p>A wise man once said, "We all dead, fuck it". Just spit it disgusting youngin', and hold your nuts while you're gunnin'. I listened, tatted a sentence on my dick last summer. Now I'll never get that phrase off my brain, it's no wonder. I'm here to buy hearts, I got hundreds, honey. The cheaper the parts, the better buy for the money. I'm trained in vagina whisperin', glistenin'. Waitin' for their christenin', I know the neighbors can't help but listen in. A dirty boy who come down on a side of dissonance. I can't even relax without sirens off in the distances. Not shittin' you, little buddy, this fuckin' island's a prison. The only silence I have is an act of conjugal visitin'.</p>
        </div>
      </div>
      <div id="section-four" class="odd">
        <div class="content">
          <h2>Liars and politicians, profiteers of the prisons.</h2>
          <p>My solitary condition's preventin' conjugal visits. Go mane and missin' my misses, they keepin' me from my children. Conditions create a villain, the villain is givin' vision. The vision becomes a vow to seek vengeance on all the vicious. Liars and politicians, profiteers of the prisons. The forehead engravers, enslavers of men and women. Includin' members of clergy that rule on you through religion. So strippin' kids to the nude and then tell 'em God'll forgive 'em.</p>
        </div>
      </div>
      <div id="section-five" class="even">
        <div class="content">
          <h2>Ripped like Rakim Allah, feds is checkin' my melody.</h2>
          <p>It's De La on the cut, liftin' 6 on your stitchy crew. I'm miles ahead of you, you can sip my bitches brew. My battle status is burnin' mansions from Dallas to Malibu. Check my résumé, your residence is residue. Call her a skin job and my honey dip'll backflip for you. You playin', God your eye sockets, she gon' rip in two. We sick of bleedin' out a trace, spray a victim, you. Done dyin', Phillip AK Dickin' you. With clips in the bottom, we dippin' from Gotham. Yes eclipsed by the shadows, a dark dance to the coffin. I'm a fellow with melanin, suspect of a felony. Ripped like Rakim Allah, feds is checkin' my melody. Yes aggressively tested we'll bump stretchers and penalties. Dump cases with face and the cop pleas when we seizing a pump. With reason to dump on you global grand dragons. Still pilin' fast, plus Afghani toe taggin'. Now they trackin' me and we bustin' back, see. The only thing that close quicker than our caskets be the factory.</p>
        </div>
      </div>
    </blockquote>
    <%= image_tag("run-the-jewels/close-your-eyes/footer-background.jpg", :alt => "") %>
    <%= partial 'figcaption', locals: { data: current_page.data } %>
    <p>Artwork by <%= link_to("Nick Gazin","http://nickgazin.tumblr.com/") %></p>
  </figure>
</article>
