---
title: The Roots - Concerto of the Desperado
player_color: 
track: the roots concerto of the desperado
---

<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "/stylesheets/the-roots-concerto-of-the-desperado.css" %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag("bigtext.js") %>
  <script>
    $(function(){
      WebFont.load({
        typekit: { id: 'suv7urw' },
        active: function() {
          $('h1, figcaption, figcaption>a, figcaption>cite').bigtext();
        }
      });
    });
  </script>
<% end %>

<article>
  <header>
    <h1>Concerto of the Desperado</h1>
  </header>
  <figure>
    <blockquote>
      <p>
        In the glow of the moon, over the melancholy metro
        My poetry is set like a U.F.O
        The maestro, the lyricist concerto
        My physical play the role of a vessel
        The level of my lyrics law manifesto
        My thoughts wrestle and attack with the killer instincts
        Of a gorilla stronger than Samson
        Without vanilla my soliloquoy profess my ability to just
        Stimulate you like the best sensimilla
        The halflife the Illadel-L-P-O-phila proceed
        Hither is my death flower blow your tower to smithe
        reens to fiends catch another rhyme gripper
        Deeper than the meditations of a Hindu worshiper
        Unorthodox, hip-hop, minister
        Than a Serengeti cheetah my thoughts swifter
        You lose your balance when the sound hits ya
        So check for the, Fifth Militia
        A poet's under pressure stressin that you get the picture
        Even if it means you gotta hang over the banister
        I pull a microphone on any pistol brandisher
        And take advantage of ya because you amateur
        Styles gunning down your sound man and manager
        What?? This how we do it in the year for nine-six
        With this deliberate attack on pointless rap shit
        Breakin MC's down to fractions, tell your squadron
        It's time to go to war, Respond/React
      </p>
      <p>
        The implorer, the universe explorer
        Treat MC's like the cities of Sodom and Gomorrah
        Leavin these niggas open like a box of Pandora
        With styles that's newer than the world order
        Approximately three quarters of y'all are water
        I straight deport ya
        Then orchestrate your torture with roots of culture
        The pill brimmage to the line of scrimmage up against your image
        Where life is a heist, and the strong get a percentage
        It's ill as a war and within it I'm the Lieutenant
        That surrounds you like a peninsula to snatch the pennant
        You fold like Japan's futons and fans
        While I design a plan to make a rapper step like a pedestrian
        I crush a mountain into grands of sand
        Your pain stains the hand that held the mic inserted to the stand
        The desperado, that refuse to follow
        The Fifth afficianado, break you up into parts like vibrato
        I deep like the dark of the night
        Niggas is sweet and sound silly when they talk on the mic
        They use the simple back and forth the same
        Old rhythm that's plain
        I'd rather UltraMagnetize your brain
        It's the hip-hop purist, that leave you lost like a tourist
        Inside the chorus, niggas is bringin nothin for us
        As we breakin em down to fractions, tell your squadron
        It's time to go to war, Respond/React
      </p>
    </blockquote>
    <figcaption>
      Quote by 
      <%= link_to("Ludacris", "http://en.wikipedia.org/wiki/Ludacris") %>
      <cite>
        from
        <%= link_to("MVP", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408778&id=296408163&s=143444&uo=6") %>
        on the album 
        <%= link_to("Theatre of the Mind", "http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewAlbum?i=296408762&id=296408163&s=143444&uo=6") %>
      </cite>
    </figcaption>
  </figure>
</article>
